.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group{
    background-color: coral;
    color: black;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}

.basestat{
    margin-top: 2rem;
}

.types{
    margin-top: 2rem;
}